.lightbox-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background : rgba(0, 0, 0, 0.55);
    padding: 25px 60px 0;
    border-radius: 5px;
    z-index: 15;
}

.lightbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 97%;
    max-height: 1200px;
    background-color: white;
    padding: 20px 10px 0;
    border-radius: 5px;
    margin: auto;
}

.lightbox-next,
.lightbox-prev {
    color : #901c1c;
    font-size : 6rem;
    font-weight: bold;
    border : none;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}


.close-lightbox {
    position: relative;
    color : #901c1c;
    cursor: pointer;
    font-size : 8rem;
    font-weight: bold;
}
.close-lightbox {
    position: absolute;
    top : -40px;
    right : 0;
}


.lightbox-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Proposition : Afficher les images en portrait / paysage 
.lightbox-image,
.lightbox-video {
    max-height: 80vh; 
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
} */

/* Affichage conforme à la maquette*/
.lightbox-image,
.lightbox-video {
    width : 100%;
    height: calc(100% - 30px);
    object-fit: cover;
    object-position: center;
}


.lightbox-title {
    margin-top: 5px;   
    font-size: 1.5rem; 
    color : #D3573C;
}