.lightbox {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 15;
}

.lightbox-next,
.lightbox-prev {
    color : #901c1c;
    font-size : 6rem;
    font-weight: bold;
    border : none;
    background-color: white; /* Définit la couleur de fond en rouge */
    padding: 10px 20px;
    cursor: pointer;
}

.close-lightbox {
    position: relative;
    color : #901c1c;
    cursor: pointer;
    font-size : 8rem;
    font-weight: bold;
}

