.lightbox-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background : rgba(0, 0, 0, 0.55);
    padding: 25px 60px 0;
    border-radius: 5px;
    z-index: 15;
}

.lightbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 90%;
    max-height: 1000px;
    background-color: white;
    padding: 25px 20px 0;
    border-radius: 5px;
    margin: auto;
}

.lightbox-next,
.lightbox-prev {
    color : #901c1c;
    font-size : 6rem;
    font-weight: bold;
    border : none;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}


.close-lightbox {
    position: relative;
    color : #901c1c;
    cursor: pointer;
    font-size : 8rem;
    font-weight: bold;
}

.lightbox-image {
    max-width: 90%; 
    max-height: 80vh; 
    width: 100%;
    height: auto;
    object-fit: cover;
}

.close-lightbox {
    position: absolute;
    top : -40px;
    right : 15px;
}

