.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
}
.photograph_name {
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.5rem;
    color : #D3573C;
}
.photograph_citycountry {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #901c1c; 
}

.photograph_tag {
    font-size: 1.12rem;
    line-height: 1.5rem;
  
    color: #525252;
  }

.photograph_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
.photograph_picture {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    object-position: 80% 10%;
    object-fit: cover;
  }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
    background-color: #DB8876;

}

.photograph-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap : 45px;
    margin: 35px 100px 0 100px;
}

.gallery_thumbnail {
  height: 300px;
  width: 350px; 
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}


.gallery_card figcaption {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery_card figcaption h2 {
    color: #901C1C;
    font-weight: 400;
    line-height: normal; 
    font-size: 1.5rem;
    width: 80%;
}

.btn_like { 
    background-color: transparent;
    border: none;
    width: 1.5rem;
    position : relative;
}

.numberLike {
    color: #901C1C;
    font-weight: 500;
    line-height: normal;
    font-size: 1.5rem;
}

.number-heart {
    display: flex;
    flex-direction: row;

}
.btn_like i {
    position: absolute;
    top : 5px;
    left : 1px;
}

.heart-full {
    font-size: 1.2rem;
    color : #901C1C;
}
.heart-empty {
    color: #901C1C;
    font-size: 1.2rem;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.photograph-global-like {
    position: sticky;
    bottom: 0;
    left: 100%;
    background-color: #DB8876;
    border-radius: 5px; 
    height: 89px;
    width: 376px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.photographer_counter {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap : 50px;
}