@import url("photographer.css");
@import url("form.css");
@import url("lightbox.css");

/* normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

a {
	text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

li {
	list-style-type: none;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h3 {
    font-style: normal;
    font-weight: 400; 
}

body {
    font-family: "DM Sans", sans-serif;
    width: 1340px;
    margin: 0 auto;
}

/* general*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo-container {
    position : relative;
    left : 100px;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_name {
    color: #D3573C;
    font-size: 2.25rem;
    margin-bottom: 0;
    font-weight: 400;
}

.photographer_citycountry {
    font-size: 0.813rem;
    line-height: 1rem;
    color: #901c1c; 
}

.photographer_picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 60% 50%;
    position: absolute;
    right : -35px;
    top : -25px;

}

.photographer_imgcontainer {
    position:relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 8px grey;
}

.photographer_tagline {
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 0em;
    color: #000;
}
.photographer_price {
    font-size: 0.563rem;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
}